on:
  pull_request:
    branches: [main]

jobs:
  vars:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check branches
        run: |
          git status
          git branch -a
          git branch -a | sed -n '2p | git checkout
